# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Environment and Config files (except example)
.env
.env.*
config/config.development.json
config/config.staging.json
config/config.production.json

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
